body {
  padding: 0;
  margin: 0;
  background-color: #1b263b;
}

nav {
  margin: 0;
  padding: 2em;
}

nav h1 {
  color: white;
  font-size: 1em;
  font-weight: normal;
}

main {
  display: flex;
  justify-content: center;
}

div.performance {
  /* padding: 1em; */
  margin: 1em;
  display: inline-block;
  background-color: #ee4266;
  border-radius: 5px;
  box-shadow: 0 0px 3.6px -69px rgba(0, 0, 0, 0.022),
    0 0px 10px -69px rgba(0, 0, 0, 0.031),
    0 0px 24.1px -69px rgba(0, 0, 0, 0.041),
    0 0px 80px -69px rgba(0, 0, 0, 0.07);
}

.title-set {
  padding: 1.8em;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
}

.button {
  font-size: 0.8em;
  cursor: pointer;
  padding: 0.2em 0.6em;
  border: 2px solid white;
  height: 1.4em;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.selected {
  color: #ee4266;
  background-color: aliceblue;
}

.sub-title {
  color: aliceblue;
}

.title {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0em;
}

.text-title {
  display: flex;
  flex-direction: column;
}

.line-graph {
  margin: 1em;
  margin-top: 0;
}

.line-group {
  color: aliceblue;
  font-size: 0.8em;
}

.line-globalsales {
  stroke-width: 2px;
  stroke: aliceblue;
  fill: none;
}

.performance text {
  color: aliceblue;
}

.performance .tick line {
  stroke: #ff87ab;
}

section {
  margin: auto;
  width: 825px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.small-block {
  display: inline-block;
  background-color: #ee4266;
  border-radius: 5px;
  box-shadow: 0 0px 3.6px -69px rgba(0, 0, 0, 0.022),
    0 0px 10px -69px rgba(0, 0, 0, 0.031),
    0 0px 24.1px -69px rgba(0, 0, 0, 0.041),
    0 0px 80px -69px rgba(0, 0, 0, 0.07);
}

.publicadoras, .publicadoras-2 {
  margin-top: 1em;
}

.total-shipments .tick line {
  color: #ff87ab;
}

.line-every-sales {
  fill: none;
  stroke: aliceblue;
}

.char-histogram {
  padding: 0.8em;
  padding-left: 0em;
  padding-top: 0;
}

.daily-sales .tick line {
  color: #ff87ab;
}

.bar-graph {
  margin-top: 0em;
}

.bar-group {
  color: aliceblue;
}

.label-bar {
  font-size: 1em;
}

.rectangle-bar {
  fill: aliceblue;
}

.line-group-second {
  color: aliceblue;
}
